<h2>Phoenix</h2>
<h3>a.k.a. Jean Grey</h3>
<div class="row">
  <div class="col-lg-4">
    <h4>Youth</h4>
    <p>Jean Grey was born the second daughter of John and Elaine Grey. She had an older sister, Sara Grey-Bailey.
      John Grey was a professor at Bard College in upstate New York. Depictions of Jean's childhood and
      her relations with her family have shown a stable, loving family life growing up.
    </p>
    <h4>Emergence of powers and joining the X-Men</h4>
    <p>Jean's mutant powers of telepathy and telekinesis first manifest when her best friend is hit by a
      car and killed. Jean mentally links with her friend and nearly dies as well. The event leaves her
      comatose, and she is brought back to consciousness when her parents seek the help of powerful mutant
      telepath, Charles Xavier. Xavier blocks her telepathy until she is old enough to be able to control
      it, leaving her with access only to her telekinetic powers. Xavier later recruits her as a teenager
      to be part of his X-Men team as "Marvel Girl", the team's sole female member. After several missions
      with the X-Men, Xavier removes Jean's mental blocks and she is able to use and control her telepathic
      powers. She begins a relationship with teammate Cyclops (Scott Summers), which persists as her
      main romantic relationship, though she also develops a mutual secret attraction to later addition
      to the team, Wolverine.</p>

  </div>
  <div class="col-lg-2">
    <img src='/images/phoenix2.jpg' alt="">
    <img src='/images/jean-grey.jpg' alt="">

  </div>

</div>
