<h2>Quicksilver</h2>
<h3>a.k.a. Pietro Maximoff</h3>
<div class="row">
  <div class="col-lg-3">

  </div>
  <div class="col-lg-5">
    <h4>Bio</h4>
    <p>Pietro and his twin sister, Wanda, were raised by Django and Marya Maximoff, a Roma couple. As adolescents
      Pietro and his sister Wanda discovered that they had peculiar talents. When Django began to steal
      food to feed his starving family, enraged villagers attacked the roma camp. Using his phenomenal
      speed, Pietro fled from the camp with his sister. Over the next few years, Wanda and Pietro wandered
      central Europe, living off the land. One day, Wanda accidentally caused a house to burst into flames
      with her uncontrollable hex powers and the pair was chased by superstitious townspeople. Despite
      Pietro's attempt to defend her, the twins were soon overpowered and were rescued by Magneto.</p>
    <p>The character first appears with his twin sister, the Scarlet Witch, as a part of the Brotherhood
      of Evil Mutants. The siblings were originally presented as mutants, with Pietro possessing superhuman
      speed and Wanda able to control probability. The pair are recruited by Magneto after he saves Wanda
      from a mob after she accidentally causes a house to burst into flame. Quicksilver stays with her
      to protect her. He has Jewish ancestry, from his father. After several confrontations with the
      X-Men, they depart when Magneto and his lackey the Toad are abducted by the cosmic entity the Stranger.
      They then travel back to Europe. Pietro and his sister reform and are recruited by Iron Man to
      the superhero team the Avengers, after they discover they are advertising for new members and want
      to get support for themselves.</p>

  </div>
  <div class="col-lg-1" ng-controller='QuicksilverController as qc'>
    <img src='/images/quicksilver.jpg' ng-mouseover='qc.show = false' ng-show='qc.show'>
    <img src='/images/pietro-maximoff.jpg' ng-mouseout='qc.show = true' ng-hide='qc.show'>

  </div>
  <div class="col-lg-3">

  </div>

</div>
