<h2>Wolverine</h2>
<h3>a.k.a. James "Logan" Howlett</h3>

<div class="row">
  <div class="col-lg-4">
    <h4>Bio</h4>
    <p>Wolverine was born James Howlett in northern Alberta, Canada, during the late 1880s, purportedly
      to rich farm owners John and Elizabeth Howlett, though he is actually the illegitimate son of the
      Howletts' groundskeeper, Thomas Logan. After Thomas is thrown off the Howletts' property for an
      attempted rape perpetrated by his other son, named simply Dog, he returns to the Howlett manor
      and kills John Howlett. In retaliation, young James kills Thomas with bone claws that emerge from
      the back of his hands, as his mutation manifests. He flees with his childhood companion, Rose,
      and grows into manhood on a mining colony in the Yukon, adopting the name "Logan". When Logan accidentally
      kills Rose with his claws, he flees the colony and lives in the wilderness among wolves, until
      he is captured and placed in a circus. Saul Creed, brother of Victor Creed, frees Logan, but after
      he betrays Logan and Clara Creed to Nathaniel Essex, Logan drowns Creed in Essex's potion. Logan
      returns to civilization, residing with the Blackfoot people. Following the death of his Blackfoot
      lover, Silver Fox, at the hands of Victor Creed, now known as Sabretooth, he is ushered into the
      Canadian military during World War I. Logan spends time in Madripoor before settling in Japan,
      where he marries Itsu and has a son, Daken. Logan is unaware of his son for many years.</p>
  </div>
  <div class="col-lg-2">
    <img src='/images/wolverine.jpg' alt="">
    <img src='/images/logan.jpg' alt="">

  </div>
</div>
